#main {
    margin-bottom: 20px;
}

.btn-success {
    margin-top: 5px;
}

.click-delete {
    margin-left: 15px;
    color: #C32828;
}

.click-save {
    margin-left: 15px;
    color: #5BA6DE;
}

.click-open {
    display: inline-block;
    width: 60px;
    text-align: left;
}

.double_level_label {
    display: inline-block;
    width: 34px;
    text-align: left;
}

.single_level_label {
    display: inline-block;
    width: 100px;
    text-align: left;
}