{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="static/angular.min.js"></script>
    <script type="text/javascript" src="static/angular-route.min.js"></script>
    {{ moment.include_moment() }}
{% endblock %}

{% block title %}easy_dashboard{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">ip地区分析</a></li>
                <li><a href="/">封禁</a></li>
                <li><a href="/compensate-info">补偿</a></li>
                <li><a href="/announce-info">公告</a></li>
                <li><a href="/player-info">玩家信息查询</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
