{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="static/player-info.js"></script>
{% endblock %}

{% block content %}

<div class="container" ng-app="playerApp" ng-controller="playerController">
    <div class="page-header">
        <h1>player info page</h1>
    </div>

    <div class="row head">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="name" ng-model="searchName">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="searchAction()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div ng-show="mainVis">
        <form ng-submit="submit()">

            {{single_form_fields|safe}}

            {{double_level_fields|safe}}

            <!-- buildings -->
            <fieldset class="form-group">
                <label for="buildings">建筑</label>
                <a id="buildings" ng-click="toggleBuildings()">data</a>
                <div ng-show = "buildingsVis">
                    <div ng-repeat="(key, value) in data.buildings">
                        <label>{[key]}</label>
                        <a ng-click="toggleBuilding(key)">data</a>
                        <button class="btn-danger" type="button" ng-click="deleteBuilding(key)"><span class="glyphicon glyphicon-remove"></span></button>

                        <div ng-show="buildingVis[key]" ng-repeat="(subkey, subvalue) in value">
                            <label ng-if="subkey == 'construct_id'">建筑id</label>
                            <label ng-if="subkey == 'level'">建筑等级</label>
                            <!--<label>{[subkey]}</label>-->
                            <input ng-if="subkey == 'construct_id' || subkey == 'level'" class="form-control" ng-model="data.buildings[key][subkey]">
                        </div>
                    </div>

                    <button type="button" class="btn-success" data-toggle="modal" data-target="#buildingModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="buildingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="buildingModalLabel">增加建筑</h4>
                          </div>
                          <div class="modal-body">
                              建筑位: <input type="text" ng-model="newBuildingPos">
                              建筑id: <input type="text" ng-model="newBuildingId">
                              建筑等级: <input type="text" ng-model="newBuildingLevel">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="addBuilding()">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </fieldset>

            <!-- resource -->
            <fieldset class="form-group">
                <label for="resource">资源</label>
                <a id="resource" ng-click="toggleResource()">data</a>
                <div ng-show = "resourceVis">
                    <div ng-repeat="(key, value) in data.resource">
                        <label ng-if="key == 'diamond'">钻石</label>
                        <label ng-if="key == 'aluminium'">煤</label>
                        <label ng-if="key == 'oil'">油</label>
                        <label ng-if="key == 'silicon'">铀</label>
                        <label ng-if="key == 'crystal'">可燃冰</label>
                        <label ng-if="key == 'iron'">钢矿</label>
                        <label ng-if="key == 'updated'">更新时间</label>
                        <input type="text" class="form-control" ng-model="data.resource[key]">
                    </div>
                </div>
            </fieldset>

            <!-- map_collections -->
            <fieldset class="form-group">
                <label for="map-coll">地图收藏</label>
                <a id="map-coll" ng-click="toggleMapColls()">data</a>
                <div ng-show = "mapCollsVis">
                    <div ng-repeat="item in data.map_collections">
                        <label>{[item.name]}</label>
                        <a ng-click="toggleMapColl(item.name)">data</a>
                        <button class="btn-danger" type="button" ng-click="deleteMapColl($index)"><span class="glyphicon glyphicon-remove"></span></button>
                        <div ng-show="mapCollVis[item.name]">
                            <label>名称</label>
                            <input type="text" class="form-control" ng-model="item.name">
                            <label>分类</label>
                            <input type="number" class="form-control" ng-model="item.category">
                            <label>等级</label>
                            <input type="number" class="form-control" ng-model="item.lv">
                            <label>类型</label>
                            <input type="text" class="form-control" ng-model="item.type">
                            <label>x</label>
                            <input type="number" class="form-control" ng-model="item.x">
                            <label>y</label>
                            <input type="number" class="form-control" ng-model="item.y">
                        </div>
                    </div>

                    <button type="button" class="btn-success" data-toggle="modal" data-target="#mapCollModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="mapCollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="mapCollModalLabel">增加地图收藏</h4>
                          </div>
                          <div class="modal-body">
                              名称: <input type="text" ng-model="newMapCollName">
                              分类: <input type="number" ng-model="newMapCollCat">
                              等级: <input type="number" ng-model="newMapCollLv">
                              类型: <input type="text" ng-model="newMapCollType">
                              x: <input type="number" ng-model="newMapCollX">
                              y: <input type="number" ng-model="newMapCollY">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="addMapColl()">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!--<fieldset class="form-group">-->
            <!--<label for="name">name</label>-->
            <!--<input type="text" class="form-control" id="name" ng-model="test">-->
        <!--</fieldset>-->

    </div>


</div>
{% endblock %}