{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="static/player-info.js"></script>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/player-info.css" />
{% endblock %}

{% block content %}

<div class="container" ng-app="playerApp" ng-controller="playerController">
    <div class="page-header">
        <h1>玩家信息页</h1>
    </div>

    <div class="row head">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="name" ng-model="searchName">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="searchAction()"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <br>

    <div id="main" ng-show="mainVis">
        <form name="mainForm" id="mainForm">

            {{single_form_fields|safe}}
            <br>
            {{double_level_fields|safe}}

            <!-- buildings -->
            <fieldset class="form-group">
                <a class="click-open" ng-click="toggleBuildings()">建筑</a>
                <div ng-show = "buildingsVis">
                    <div ng-repeat="(key, value) in data.buildings">
                        <a class="click-open" ng-click="toggleBuilding(key)">位置{[key]}</a>
                        <!--<a class="click-delete" ng-click="deleteBuilding(key)">delete</a>-->

                        <div ng-show="buildingVis[key]" ng-repeat="(subkey, subvalue) in value">
                            <label class="single_level_label" ng-if="subkey == 'construct_id'">建筑id:</label>
                            <label class="single_level_label" ng-if="subkey == 'level'">建筑等级:</label>
                            <!--<label>{[subkey]}</label>-->
                            <input ng-if="subkey == 'construct_id' || subkey == 'level'" ng-model="data.buildings[key][subkey]">
                            <a ng-if="subkey == 'level'" class="click-save" ng-click="buildingLevelSave(key)"><span class="glyphicon glyphicon-floppy-save"></span></a>
                        </div>
                    </div>

                    <!--<button type="button" class="btn-success" data-toggle="modal" data-target="#buildingModal">-->
                        <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--</button>-->

                    <!--&lt;!&ndash; Modal &ndash;&gt;-->
                    <!--<div class="modal fade" id="buildingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                      <!--<div class="modal-dialog" role="document">-->
                        <!--<div class="modal-content">-->
                          <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                            <!--<h4 class="modal-title" id="buildingModalLabel">增加建筑</h4>-->
                          <!--</div>-->
                          <!--<div class="modal-body">-->
                              <!--建筑位: <input class="form-control" type="text" ng-model="newBuildingPos">-->
                              <!--建筑id: <input class="form-control" type="text" ng-model="newBuildingId">-->
                              <!--建筑等级: <input class="form-control" type="text" ng-model="newBuildingLevel">-->
                          <!--</div>-->
                          <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                            <!--<button type="button" class="btn btn-primary" ng-click="addBuilding()">Save changes</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->

                </div>
            </fieldset>
            <hr>

            <!-- resource -->
            <fieldset class="form-group">
                <a class="click-open" ng-click="toggleResource()">资源</a>
                <a class="click-save" ng-click="singleSave('resource')"><span class="glyphicon glyphicon-floppy-save"></span></a>
                <div ng-show = "resourceVis">
                    <div ng-repeat="(key, value) in data.resource">
                        <label class="single_level_label" ng-if="key == 'diamond'">钻石</label>
                        <label class="single_level_label" ng-if="key == 'aluminium'">煤</label>
                        <label class="single_level_label" ng-if="key == 'oil'">油</label>
                        <label class="single_level_label" ng-if="key == 'silicon'">铀</label>
                        <label class="single_level_label" ng-if="key == 'crystal'">可燃冰</label>
                        <label class="single_level_label" ng-if="key == 'iron'">钢矿</label>
                        <label class="single_level_label" ng-if="key == 'updated'">更新时间</label>
                        <input type="number" ng-model="data.resource[key]">
                    </div>
                </div>
            </fieldset>
            <hr>

            <!-- map_collections -->
            <fieldset class="form-group">
                <a class="click-open" ng-click="toggleMapColls()">地图收藏</a>
                <a class="click-save" ng-click="singleSave('map_collections')"><span class="glyphicon glyphicon-floppy-save"></span></a>
                <div ng-show = "mapCollsVis">
                    <div ng-repeat="item in data.map_collections">
                        <a class="click-open" ng-click="toggleMapColl(item.name)">{[item.name]}</a>
                        <a class="click-delete" ng-click="deleteMapColl($index)">delete</a>
                        <div ng-show="mapCollVis[item.name]">
                            <label class="double_level_label">名称:</label>
                            <input type="text" ng-model="item.name"><br>
                            <label class="double_level_label">分类:</label>
                            <input type="number" ng-model="item.category"><br>
                            <label class="double_level_label">等级:</label>
                            <input type="number" ng-model="item.lv"><br>
                            <label class="double_level_label">类型:</label>
                            <input type="text" ng-model="item.type"><br>
                            <label class="double_level_label">X:</label>
                            <input type="number" ng-model="item.x"><br>
                            <label class="double_level_label">Y:</label>
                            <input type="number" ng-model="item.y">
                            <hr>
                        </div>
                    </div>

                    <button type="button" class="btn-success" data-toggle="modal" data-target="#mapCollModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="mapCollModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="mapCollModalLabel">增加地图收藏</h4>
                          </div>
                          <div class="modal-body">
                              名称: <input class="form-control" type="text" ng-model="newMapCollName">
                              分类: <input class="form-control" type="number" ng-model="newMapCollCat">
                              等级: <input class="form-control" type="number" ng-model="newMapCollLv">
                              类型: <input class="form-control" type="text" ng-model="newMapCollType">
                              x: <input class="form-control" type="number" ng-model="newMapCollX">
                              y: <input class="form-control" type="number" ng-model="newMapCollY">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="addMapColl()">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
            <!--<br>-->
        </form>

        <!--<fieldset class="form-group">-->
            <!--<label for="name">name</label>-->
            <!--<input type="text" class="form-control" id="name" ng-model="test">-->
        <!--</fieldset>-->

    </div>


</div>
{% endblock %}